.menu {  	 	
    width: 50%;
    height: 35px;
    background-color:#0FF;} 
.menu a{   	display:block; 
  height:30px; 
       padding-top:5px; 
width:150px; 
float:left;
text-align:center; 	
text-decoration:none;} 
.menu a:hover{ background-color:#00F;
        color:#FFF;
   font-weight:bold;  	}  

